.countdown {
    font-size: 96px;
    text-align: center;
    margin: 40px auto;
}

.title {
    text-align: center;
}

.start {
    width: 120px;
    height: 80px;
    font-size: 32px;
    border: 1px solid #000000;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.start:hover {
    background-color: #999999;
}

.start:disabled {
    border: none;
    background-color: #ffffff;
    color: #ffffff;
}

.end-time {
    text-align: center;
}

.timer-state {
    display: flex;
    justify-content: center;
}

.timer-option {
    margin: 20px 0 0 0;
    padding: 5px 10px;
    background-color: #cccccc;
    cursor: pointer;
    transition: 500ms;
    color: #999999;
}

.timer-option[aria-disabled=false] {
    background-color: #f7f7f7;
    color: #000000;
}